{{>header}}
    <h1>Hello Vercel app</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, veniam in, ipsam aperiam molestiae voluptate nostrum laboriosam aliquam consequuntur porro totam hic repudiandae.</p>
    <img src="img/about-crop.jpg" alt="">
</body>
</html>