{{>header}}
{{>navbar}}
</section>
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white py-4">INVENTORY</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container custom-tab pb-2">
        <div class="row pt-5">
            <div class="col-2 collection">
                <h5 class=" bg-none text-white text-start w-100 py-2" onclick="get_collection()">COLLECTION</h5>
                {{!-- <button class="btn bg-none text-white text-start w-100 py-2"
                    onclick="get_collection()">COLLECTION</button> --}}
            </div>
            <div class="col-3 market ">
                <h5 class="bg-none text-white text-start w-100 py-2" onclick="get_marketplace()">LATEST PROJECCTS</h5>
                {{!-- <button class="btn bg-none text-white text-start w-100 py-2 pointer" 
                    onclick="get_marketplace()">LATEST PROJECTS</button> --}}
            </div>
            <div class="col-7"></div>
        </div>
    </div>
    <div class="container collection-section" id="collection-section">
        <div class="row">
            <div class="col-12 pt-5">
                <form action="">
                    <input type="file" placeholder="upload image">
                    <input type="submit" name="" id="" class="btn btn-outline-success">
                </form>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/8837.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/6487.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/5461.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/5023.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/6091.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/F5ALwzIqVIt42wAi38ZigcwCstoESwKSd4mzetqAl4U.gif" alt="" class="w-100">
                <p>Title</p>
            </div>
        </div>
    </div>
    <div class="container market-section" id="market-section">
        <div class="row py-3">
            <div class="col-12 border rounded border-secondary mt-2">
                <h4>Project 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quo deserunt. Pariatur cum
                    voluptas, molestias quae soluta, saepe, quam ipsa odit ex vel doloribus laudantium distinctio eos
                    dolorum autem blanditiis porro nam atque exercitationem!</p>
            </div>
            <div class="col-12 border rounded border-secondary mt-3">
                <h4>Project 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quo deserunt. Pariatur cum
                    voluptas, molestias quae soluta, saepe, quam ipsa odit ex vel doloribus laudantium distinctio eos
                    dolorum autem blanditiis porro nam atque exercitationem!</p>
            </div>
            <div class="col-12 border rounded border-secondary mt-3">
                <h4>Project 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quo deserunt. Pariatur cum
                    voluptas, molestias quae soluta, saepe, quam ipsa odit ex vel doloribus laudantium distinctio eos
                    dolorum autem blanditiis porro nam atque exercitationem!</p>
            </div>
            <div class="col-12 border rounded border-secondary mt-3">
                <h4>Project 4</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quo deserunt. Pariatur cum
                    voluptas, molestias quae soluta, saepe, quam ipsa odit ex vel doloribus laudantium distinctio eos
                    dolorum autem blanditiis porro nam atque exercitationem!</p>
            </div>
        </div>
    </div>
</section>

{{>footer}}